.cover__background-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 200px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__background-link {
    height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__background-link {
    height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__background-link {
    height: 740px;
  }
}