.cover__background-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 200px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__background-link {
    padding-top: 17%;
    padding-bottom: 17%;
  }
}
