@import url(./__logo/header__logo.css);
@import url(./__list/header__list.css);
@import url(./__lang-link/header__lang.css);
@import url(./__lang-link-one/header__lang-link-one.css);
@import url(./__lang-link-two/header__lang-link-two.css);

.header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  padding: 0;
  width: 90%;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 48px);
    margin: 34px auto 0;
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: calc(100% - 96px);
    margin: 34px auto 0;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: calc(100% - 296px);
    max-width: 984px;
  }
}